name: HACS Validation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate-hacs:
    name: Validate HACS
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
